<div class="container brown bold">
  <h5 class="bold">NOTE:</h5>
  <h5 class="bold">1.Assignment 3 is similar with Assignment2, Go to Assignment1</h5>
  <h5 class="bold">2. Additional requirement:  <span class="red">"Create a HTTP Delete service to delete the data as per the ID of the data. &amp; Create a HTTP GET service to get the POST values from the database use async pipe to show the response in the View"</span></h5>
  <h5 class="bold">3. check the <span class="red">"/services/api.service.ts"</span>file to see the code</h5>
</div>
